body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(138, 43, 226, .30);
    min-height: 100vh;
}

.calc-container {
    border: 1vh solid black;
    border-radius: 1vh;
}

.calc-row {
    border: 1px solid blue; /* for debugging */
    display: flex;
    justify-content: space-between;
}